section
  h1= title
  h2.author= author
  img.logo(src='img/logo.png')
section
  h2 Problems to overcome
  ul
    li.fragment Getting the info early enough
    li.fragment Which direction the cyclist wants to turn
    li.fragment Limit of 100 geofences on Android
    li.fragment Knowing user is a cyclist and not a driver
    li.fragment User experience
    li.fragment Users without Android phones
